@inherits LayoutComponentBase

<RadzenDialog />  <RadzenNotification />
<RadzenTooltip />
<RadzenContextMenu />

<HeadContent>
    <RadzenTheme Theme="material" />
</HeadContent>
<div class="page">
    <div>
        <NavMenu />
    </div>

    <main>

        <article class="content px-4 w-75 m-auto">
            @Body
        </article>
    </main>
</div>
